.snackbar-container{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    overflow: hidden;
    z-index: 4;
}

.snackbar{
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.snackbar-info{
  background-color: #0066b8;
}

.snackbar-warning{
  background-color: #ca8a04;
}

.snackbar-danger{
  background-color: #b91c1c;
}

.close-button{
    display: flex;
    background-color: transparent;
}

.icon-wrapper{
  display: inherit;
}



@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.455, 1);
    }
    0% {
      opacity: 0;
      transform: translateY(-3000px);
    }
    60% {
      opacity: 1;
      transform: translateY(25px);
    }
    75% {
      transform: translateY(-10px);
    }
    90% {
      transform: translateY(5px);
    }
    to {
      transform: none;
    }
  }
  
@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.455, 1);
    }
    from {
      opacity: 0;
      transform: translateY(3000px);
    }
    60% {
      opacity: 1;
      transform: translateY(-20px);
    }
    75% {
      transform: translateY(10px);
    }
    90% {
      transform: translateY(-5px);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

  
.show{
    animation: bounceInUp 0.4s;
}

.hide{
  animation: bounceOutDown 0.4s;
}
  