.layout{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}
.app{
  height: 100vh;
  background-color: var(--dark-primary);
  position: relative;
}

iframe{
  border: none;
  width: 100%;
  height: 100%;
  background-color: white;
}

.app input, select{
  border-radius: 2.3px;
  padding: 8px;
  background-color: var(--dark-form-component);
  color: inherit;
}

.app select:focus-visible{
  outline: none;
}

.app input:focus, select:focus{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

.app select{
  cursor: pointer;
}