@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark-primary:#0e0e0e;
  --dark-secondary:#121212;
  --dark-form-component:#3b3b3b;
  --text-color:#dfdfdf;
}

select{
  font-family: inherit;
}

body{
  color: var(--text-color);
}

*{
  margin: 0;
  box-sizing: border-box;
}

button, select, input{
  border: none;
}

button{
  cursor: pointer;
}

input{
  outline: none;
}